.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 12px;
  
    
}
.footer-info{
    
    p{
        margin: 5px;
    }
}
.logos-payments{
    height: 20px;
}