a{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #242222;
     font-weight: bold;
    background-color: #e0e6e0;
    width: 365px;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
   
}
.new-ropa{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 700px;
}